<div class="col">
    <p class="h5">
        λ {{ .Site.Title -}}
    </p>
</div>
<div class="col d-flex align-items-center justify-content-end">
    <div class="h5">
        <a class="navlink" href="{{ .Site.BaseURL }}">home/</a>
        <a class="navlink" href="{{ .Site.BaseURL }}archive/">archive/</a>
        <a class="navlink" href="{{ .Site.BaseURL }}socials/">socials/</a>
        <a class="navlink" href="{{ .Site.BaseURL }}about/">about/</a>
        <!--
        <img id="toggle_color_mode" class="clickable d-inline align-middle" height="80%" src="/ui/dark_mode.svg">
        -->
    </div>
</div>
<hr class="mt-1 mb-3">


    